{%extends "layout.html"%}
{%block content%}

<div class="container bg-secondary text-light about">
    <h1 class="mb-3">About/Contact</h1>
    <p>Site designed to help inform the aspiring NIO <del>investor</del> family-member 😉</p>
    <p>No really its just a basic page I made to learn how to use the Bokeh python library for data visualization and Beautiful Soup for some web-scraping.</p>
    <p>As a disclaimer, this site does not intend to give any financial advice or advise any investment decisions. Do your own research and make your own decisions! Site is intended to showcase my skills, nothing more.</p>
    <p>Sould you feel the need to contact me, check out the 'contact' section from my personal site or head over to my linkedin page, both of which are linked in the footer. Thanks.</p>
</div>
    
{%endblock%}